@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sacramento|Fredericka+the+Great|Romanesco');

body {
  font-family: 'Open Sans Condensed', sans-serif;

  .button.is-link {
    background: #31516F;
    margin:5px;
  }

  .title {
    padding: 10px;

  }
  nav.main {
    position: absolute;
    width: 100%;
  }
  section {
    display: block;
    background: #FCF8F6;
    position: relative;
    padding: 5px;
  }

  .hero {
    background-color: #EFD9CE;
    color: white;
    text-align: center;
    padding-top: 10%;

    h1.title {
      margin-top: 20vh;
      padding:30px;
      color: #ffffff;
      font-size: 15vw;

      svg {
        width: 2vw;
        transform: rotate(328deg);
        fill-opacity: 1;
        stroke-width: 1;
        stroke: rgba(255, 255, 255, 1);
        stroke-opacity: 1;
        fill: rgba(255, 255, 255, 1);

      }
    }
  }

  header.ev-show{
    height: 55vw;
    z-index: auto;

    figure {
      position: fixed;

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10vw;;
        font-family: 'Romanesco', cursive;
        color: #FCF8F6;
      }
    }
  }

  nav.ev-show {
    position: -webkit-sticky;
    position: sticky;
    display: block;
    top: 0;
    margin-bottom: 0 !important;
    background: #ffffff;
    z-index: 4;

    div.tabs {
      margin-bottom: 0;
    }


    button#addPhoto {
      background: #31516F;
      color: white;
      border: 1px solid transparent;
      border-radius: 4px;
      position: absolute;
      top: 0;
      margin-top: 15px;
      margin-left: 15px;
      font-size: 14px;
    }
  }

  .modal-content {
    display: block;
    background: #ffffff;
    height: 70vh;
    text-align: center;
    padding: 20px;

    input {
      margin-bottom: 20px;
    }
    button.is-primary {
      margin: 20px;
    }

  }

  section.ev-show-photos{
    .card-content.likes {
      padding-bottom: 5 !important;
      button {
        border: white;
        i.fas{
          color:#EF4C5F;
        }
      }
    }
    .card-content.info{
      padding-top: 0 !important;;
    }
  }

  section.ev-show-auth {
    z-index: auto;

    .card {
      padding: 30px;
      height: 60vh;
      text-align:center;

      p {
        padding: 15px;
        font-size: 18px;
      }
      button{
        margin: 10px;
      }
    }
  }

  section.ev-show-about{
    p {
      padding: 10px;
      font-size: 18px;



      span.icon {
        padding: 25px;
        color: #7B90A3;
      }
    }

    .subtitle {
      margin-top: 10px;
      padding: 15px;
      font-weight: 600;
    }

  }

  .member-picture {
    margin-bottom: 20px;
    align-items: center;
  }

  .member-name {
    text-align: center;
  }

  .logo {
    font-family: 'Sacramento', cursive;
  }
  .button-main {
    background-color: #7DB9B7;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding: 10px 16px;
    transition: background-color .3s;
    box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15);
    margin-top: 16px;
  }
  section.ev-index{

    .card{
      margin-top: 10px;
    }

    .ev-index-btns form{
      display: inline;
    }
    .new-event {
      p {
        padding: 15px;
        font-size: 25px;
      }
      img {
        opacity: 0.2;
      }
      a {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

  }
  section.section {
    background: #FCF8F6;
    padding: 30px 20vw;
    scroll-behavior: smooth;
    overflow-y: scroll;

    .card {

      margin-top: 40px;
    }
  }
  footer {
    display: block;
    z-index: 4;
  }
  //Tablet
  @media (max-width: 1000px){
    section.section {
      padding: 30px 5vw;
    }
  }
  //smartphone
  @media (max-width: 600px) {
    .event-menu button p {
      display: none;
    }
    section.section {
      padding:0;

      .card {
        margin-top: 0px;
        border: none;
      }
    }
  }

}


/*# sourceMappingURL=style.css.map */
