<section class="section">
  <div class="container">

    <form method="POST" action="/register">
      <div class="field">
        <label class="label" for="fullName">Full Name</label>
        <div class="control">
          <input class="input" name="fullName" id="fullName" placeholder="Full Name" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="phoneNumber">Phone Number</label>
        <div class="control">
          <input class="input" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" id="password" placeholder="Password" />
        </div>
      </div>
      <div class="field">
        <label class="label" for="passwordConfirmation">Password Confirmation</label>
        <div class="control">
          <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" />
        </div>
      </div>

      <button class="button is-primary">Submit</button>
    </form>
  </div>
</section>
