<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>WedSnap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>

    <nav class="navbar main" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <div class="logo">
            WedSnap
          </div>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <!-- <a class="navbar-item" href="/">Home</a> -->
          <a class="navbar-item" href="/events">Event list</a>

          <% if(locals.isAuthenticated) { %>
            <a class="navbar-item" href="/events/new"> Create Event</a>
            <a class="navbar-item" href="/logout">Logout</a>
          <% } else { %>
            <a class="navbar-item" href="/register">Register</a>
            <a class="navbar-item" href="/login"> Login </a>
          <% } %>
        </div>
      </div>
    </nav>

    <!-- prints out our flash messages -->
    <% for (const type in messages) { %>
      <div class="notification">
        <button class="delete"></button>
        <%= messages[type] %>
      </div>
      <!-- <p class="notification is-<%= type %>"><%= messages[type] %></p> -->
    <% } %>

    <main>
      <%- body %>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Wed Snap</strong> by <a href="https://aviv-alon.com">Aviv Alon</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
