<section class="section">
  <div class="container">

    <h1 class="title"> Login </h1>

    <form method="POST" action="/login">
      <div class="field">
        <label class="label" for="phoneNumber">phone Number</label>
        <div class="control">
          <input class="input" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" />
        </div>
      </div>

      <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control">
          <input class="input" type="password" name="password" id="password" placeholder="Password" />
        </div>
      </div>

      <button class="button is-primary">Submit</button>
    </form>

    <p class="forgot-pass">
      Don't have an account? <a href="/register">Sign up</a>
    </p>
  </div>
</section>
